<!DOCTYPE html>
<html>
  <head>
    <title>SurfDystopia</title>

    <script src="https://use.fontawesome.com/e550086ac6.js"></script>

      <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCXyqUeHnveTlJJL8IgknbSbkG5ewjlZYI&libraries=places" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'https://s3.amazonaws.com/surf-dev/NavBar/Steampunk-Robot-icon.png' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
